@using System.Threading.Tasks
@using Application.Actions
@using Application.Descriptors
@using BusinessAppFramework.Application.Interfaces
@using Application.Search
@using Contracts
@using Domain.DomainObjects
@using Microsoft.AspNetCore.Components.Web;
@using MudBlazor
@using Domain
@using WebUI.Components.SearchList
@using WebUI.Interfaces

@inject ILocalizedStringService LocalizedStringService
@inject IApplicationActionExecutionService ActionExecutionService
@inject ISearchGateway<TSearchResult> SearchGateway
@inject IDomainObjectServiceGateway<TDomainObject> DomainObjectServiceGateway
@inject IIconFactory IconFactory
@inject IUserDialogService UserDialogService
@inject NavigationManager NavigationManager

@typeparam TDomainObject where TDomainObject : DomainObject, new()
@typeparam TSearchResult where TSearchResult : DomainObjectSearchResult, new()

@implements IWorkspaceView<DomainObjectBrowserDescriptor<TDomainObject, TSearchResult>>

<style>
    .selected {
        background-color: color-mix(in srgb, var(--mud-palette-primary) 20%, transparent) !important;
    }

    .mud-drawer-content {
        padding: 0 !important;
    }

    .osc-search.mud-input-control {
        flex: 0 0 300px;
        max-width: 300px;
        min-width: 200px;
    }

        .osc-search.mud-input-control .mud-input {
            width: 100%;
        }

    .osc-search .mud-input-outlined-border {
        border-radius: 8px !important;
    }

    .osc-search .mud-input-outlined {
        border-radius: 8px !important;
    }

    .editor-drawer {
        background-color: #FAFAFC;
        color: #212121;
    }

    .osc-table {
        border: 1px solid var(--mud-palette-divider);
        border-color: var(--mud-palette-lines-inputs);
        border-radius: 8px;
        overflow: hidden;
    }

        .osc-table .mud-table-row:last-child td {
            border-bottom: none;
        }

        .osc-table .mud-table-head th {
            color: #999999 !important;
            font-weight: 600;
        }

        .osc-table .mud-table-body td {
            height: 44px;
            padding-top: 0;
            padding-bottom: 0;
        }

    .constraint-chip {
        border: 1px solid;
        border-color: var(--mud-palette-lines-inputs);
    }

    .constraint-chip--active {
        border-color: var(--mud-palette-primary);
    }

    .view-chip__count {
        background-color: var(--mud-palette-action-default-hover);
        color: var(--mud-palette-text-primary);
        font-size: 10px;
        font-weight: 600;
        padding: 2px;
        border-radius: 999px;
        margin-left: 4px;
        font-weight: 400;
        min-width: 16px;
    }

    .view-chip__count--active {
        background-color: var(--mud-palette-primary);
        border: 0px;
        color: white;
        font-weight: 600;
    }
</style>

<DomainObjectBrowserLayout>

    <Header>

        <MudText Typo="Typo.h2" Style="font-weight:500;" Class="mb-2">
            @LocalizedStringService.Get(Descriptor.WorkspaceKey.Key)
        </MudText>

        <MudStack Row="true" Spacing="2" AlignItems="AlignItems.Center">

            <MudTextField T="string"
                          Class="osc-search"
                          Placeholder="@LocalizedStringService.Get(Contracts.StringKeys.SearchKey)"
                          Adornment="Adornment.Start"
                          AdornmentIcon="@Icons.Material.Filled.Search"
                          IconSize="Size.Small"
                          Variant="Variant.Outlined"
                          Underline="false"
                          @bind-Value="_searchText"
                          OnKeyUp="HandleKeyUp"
                          Margin="Margin.Dense"
                          Style="background: var(--mud-palette-surface);" />

            <MudChipSet T="string"
                        CheckMark SelectionMode="SelectionMode.SingleSelection"
                        Color="Color.Primary"
                        SelectedValue="_selectedConstraintKey"
                        SelectedValueChanged="OnConstraintChanged">

                @if (Descriptor.ConstraintKeys.Count > 1)
                {
                    @foreach (var constraintKey in Descriptor.ConstraintKeys)
                    {
                        var count = _constraintCounts.ContainsKey(constraintKey) ? _constraintCounts[constraintKey] : (int?)null;
                        var isActive = _selectedConstraintKey == constraintKey;
                        <MudChip Value="@constraintKey"
                                 Variant="Variant.Filled"
                                 Color="Color.Default"
                                 SelectedColor="Color.Primary"
                                 Class="@($"constraint-chip {(isActive ? "constraint-chip--active" : "")}")"
                                 Style="@($"background-color: var(--mud-palette-surface); font-weight: {(isActive ? "600" : "400")};")">
                            @LocalizedStringService.Get(constraintKey)
                            @if (count != null && count > 0)
                            {
                                <div class="@($"view-chip__count {(isActive ? "view-chip__count--active" : "")}")">@count</div>
                            }
                        </MudChip>
                    }
                }

            </MudChipSet>

            <MudText Typo="Typo.caption" Align="Align.Start" Style="margin-top:4px; color:gray">
                @_startIndex - @_endIndex / @_totalItems @LocalizedStringService.Get(Contracts.StringKeys.ResultsKey)
            </MudText>

            <MudLink Typo="Typo.caption"
                     Style="margin-left:4px;margin-top:4px; cursor:pointer"
                     OnClick="async () => await FireSearchAsync(true)">
                @LocalizedStringService.Get(Contracts.StringKeys.ExtendedSearchKey)
            </MudLink>

            <MudSpacer />

            @{
                var hasGlobalActions = Descriptor.ApplicationActions?.Any() == true;
                var hasSelectionActions = Descriptor.DomainObjectApplicationActions?.Any() == true;
            }

            @foreach (var action in Descriptor.ApplicationActions)
            {
                var shrink = action.ActionKey.Equals(ActionKeys.ImportExportDataActionKey);
                <ActionButton Shrink="@shrink"
                              OnClick="() => ExecuteApplicationActionAsync(action)"
                              ActionKey="StringKey.From(action.ActionKey)" />
            }

            @if (hasGlobalActions && hasSelectionActions)
            {
                <MudDivider Vertical="true" Class="mx-2" Style="height:24px; width:1px;" />
            }

            @foreach (var action in Descriptor.DomainObjectApplicationActions)
            {
                var disabled = !_hasSelection;

                <ActionButton OnClick="() => ExecuteDomainObjectApplicationActionAsync(action)"
                              ActionKey="StringKey.From(action.ActionKey)"
                              Disabled="@disabled" />
            }

        </MudStack>

    </Header>

    <Results>
        <DynamicComponent Type="Descriptor.SearchListTemplateProviderType"
                          @ref="_templateComponent" />

        <MudDataGrid T="TSearchResult"
                     Class="osc-table"
                     Dense="true"
                     Hover="true"
                     Elevation="0"
                     @ref="_grid"
                     ServerData="LoadGridData"
                     RowsPerPage="@_pageSize"
                     SelectedItem="@_selectedItem"
                     RowClassFunc="GridRowClassFunc"
                     ReadOnly="true"
                     ColumnResizeMode="ResizeMode.Column"
                     RowClick="OnSearchTableRowClick"
                     @bind-CurrentPage="_currentPage">

            <Columns>
                @_searchListTemplateProvider?.Template?.DataGridColumns
            </Columns>

        </MudDataGrid>

    </Results>

    <Pagination>
        <MudStack Justify="Justify.Center" AlignItems="AlignItems.Center" Spacing="3" Row="true">

            <MudPagination Selected="@(_currentPage + 1)"
                           Count="@TotalPages"
                           ShowFirstButton="true"
                           ShowLastButton="true"
                           SelectedChanged="HandlePageChangedAsync"
                           BoundaryCount="1"
                           MiddleCount="3" />
        </MudStack>
    </Pagination>

</DomainObjectBrowserLayout>


@code {
    [Parameter] public DomainObjectBrowserDescriptor<TDomainObject, TSearchResult> Descriptor { get; set; } = default!;

    [SupplyParameterFromQuery(Name = "search")][Parameter] public string? SearchFromQuery { get; set; }
    [SupplyParameterFromQuery(Name = "constraint")][Parameter] public string? ConstraintFromQuery { get; set; }
    [SupplyParameterFromQuery(Name = "page")][Parameter] public int? PageFromQuery { get; set; }

    private bool _pendingGridReload;

    private DynamicComponent? _templateComponent;
    private ISearchListTemplateProvider<TSearchResult>? _searchListTemplateProvider => _templateComponent?.Instance as ISearchListTemplateProvider<TSearchResult>;

    private string _searchText = default!;
    private bool _hasSelection => _selectedItem != null;

    private int _totalItems;
    private int _pageSize = 20;
    private int _currentPage = 0;
    private int _startIndex => TotalPages == 0 ? 0 : (_currentPage * _pageSize) + 1;
    private int _endIndex => Math.Min((_currentPage + 1) * _pageSize, _totalItems);
    private int TotalPages => (int)Math.Ceiling(_totalItems / (double)_pageSize);

    private bool _extendedSearch;

    private string _selectedConstraintKey { get; set; } = default!;

    private MudDataGrid<TSearchResult>? _grid;
    private TSearchResult? _selectedItem;

    private Dictionary<string, int> _constraintCounts = new();


    private async Task<GridData<TSearchResult>> LoadGridData(GridState<TSearchResult> state, CancellationToken cancellationToken)
    {
        var request = new PaginatedSearchRequest
        {
            PageIndex = _currentPage,
            PageSize = _pageSize,
            ConstraintKey = _selectedConstraintKey,
            ExtendedSearch = _extendedSearch
        };

        if (!string.IsNullOrEmpty(_searchText))
            request.Filters.Add(_searchText);

        var result = await SearchGateway.PaginatedSearchAsync(request);

        var items = result?.Items?.ToList() ?? new List<TSearchResult>();
        _totalItems = result?.Count ?? 0;

        await RefreshConstraintCountsAsync();

        StateHasChanged();

        return new GridData<TSearchResult>
        {
            Items = items,
            TotalItems = _totalItems
        };
    }

    private async Task RefreshConstraintCountsAsync()
    {
        _constraintCounts.Clear();

        foreach (var constraint in Descriptor.ConstraintKeys)
        {
            _constraintCounts[constraint] = await SearchGateway.CountAsync(new SearchRequest() { ConstraintKey = constraint });
        }
    }

    private string GridRowClassFunc(TSearchResult item, int rowIndex) => (_selectedItem?.Equals(item) ?? false) ? "selected" : string.Empty;

    protected override void OnParametersSet()
    {
        base.OnParametersSet();

        var newSearchText = SearchFromQuery ?? string.Empty;

        var newConstraintKey =
            !string.IsNullOrWhiteSpace(ConstraintFromQuery) && Descriptor.ConstraintKeys.Contains(ConstraintFromQuery)
                ? ConstraintFromQuery
                : Descriptor.DefaultConstraintKey ?? string.Empty;

        var newPage = PageFromQuery.HasValue && PageFromQuery.Value > 0
            ? PageFromQuery.Value - 1
            : 0;

        var hasChanged =
            newSearchText != _searchText ||
            newConstraintKey != _selectedConstraintKey ||
            newPage != _currentPage;

        _searchText = newSearchText;
        _selectedConstraintKey = newConstraintKey;
        _currentPage = newPage;

        if (hasChanged)
        {
            _pendingGridReload = true;
        }
    }

    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        await base.OnAfterRenderAsync(firstRender);

        if (_pendingGridReload && _grid != null)
        {
            _pendingGridReload = false;
            await _grid.ReloadServerData();
        }
    }

    private async Task ExecuteApplicationActionAsync(IApplicationAction applicationAction)
    {
        var payload = await ActionExecutionService.ExecuteApplicationActionAsync(applicationAction);
        await RefreshServerDataAsync(payload);
    }

    private async Task ExecuteDomainObjectApplicationActionAsync(IApplicationAction applicationAction)
    {
        if (applicationAction is IDomainObjectApplicationAction domainObjectApplicationAction)
        {
            domainObjectApplicationAction.DomainObjectId = _selectedItem?.DomainObjectId ?? 0;
            var payload = await ActionExecutionService.ExecuteApplicationActionAsync(applicationAction);
            await RefreshServerDataAsync(payload);
        }
        else if (applicationAction is IOpenDialogApplicationAction openDialogApplicationAction)
        {
            openDialogApplicationAction.DomainObjectId = _selectedItem?.DomainObjectId ?? 0;
            var payload = await ActionExecutionService.ExecuteApplicationActionAsync(applicationAction);
            await RefreshServerDataAsync(payload);
        }
        else
        {
            await ActionExecutionService.ExecuteApplicationActionAsync(applicationAction);
        }
    }

    public async Task RefreshServerDataAsync(DomainObjectApplicationActionResultPayload? payload)
    {
        if (payload != null && _grid != null)
        {
            if (payload.Changes.Any(c => c.ChangeType == ChangeType.Added) ||
                payload.Changes.Any(c => c.ChangeType == ChangeType.Deleted) ||
                payload.Changes.Any(c => c.ChangeType == ChangeType.Modified))
            {
                await _grid.ReloadServerData();
            }
        }
    }

    private async Task HandleKeyUp(KeyboardEventArgs e)
    {
        if ((e.Key == "Enter" || e.Key == "NumpadEnter") && _grid != null)
        {
            await FireSearchAsync(false);
        }
    }

    private async Task FireSearchAsync(bool extended)
    {
        _currentPage = 0;
        _extendedSearch = extended;
        UpdateUrl();
        await _grid.ReloadServerData();
    }

    private async Task HandlePageChangedAsync(int selectedPage)
    {
        _currentPage = selectedPage - 1;
        UpdateUrl();

        if (_grid != null)
        {
            await _grid.ReloadServerData();
        }
    }

    private async Task OnConstraintChanged(string? newSelectedContraintKey)
    {
        _selectedConstraintKey = newSelectedContraintKey ?? String.Empty;
        _currentPage = 0;

        UpdateUrl();

        if (_grid != null)
        {
            await _grid.ReloadServerData();
        }
    }

    private void UpdateUrl(bool replace = false)
    {
        var uri = NavigationManager.GetUriWithQueryParameters(new Dictionary<string, object?>
        {
            ["search"] = string.IsNullOrWhiteSpace(_searchText) ? null : _searchText,
            ["constraint"] = string.IsNullOrWhiteSpace(_selectedConstraintKey) ? null : _selectedConstraintKey,
            ["page"] = _currentPage > 0 ? _currentPage + 1 : null
        });

        NavigationManager.NavigateTo(uri, replace: replace);
    }

    private async Task OnSearchTableRowClick(DataGridRowClickEventArgs<TSearchResult> args)
    {
        _selectedItem = args.Item;

        if (args.MouseEventArgs.Detail >= 2)
        {
            var openAction = Descriptor.DomainObjectApplicationActions.FirstOrDefault(a => a.ActionKey.Equals(ActionKeys.OpenActionKey));

            if (openAction != null)
            {
                await ExecuteDomainObjectApplicationActionAsync(openAction);
            }
        }

        StateHasChanged();
    }
}

