@using Application.Descriptors
@using BusinessAppFramework.Application.Interfaces
@using Application.Relations
@using BusinessAppFramework.WebUI.Components.SearchList
@using Domain
@using Domain.DomainObjects
@using Microsoft.Extensions.DependencyInjection
@using MudBlazor
@using WebUI.Components.Selector
@using WebUI.Interfaces

@inject IRelationSelectorRegistry RelationSelectorRegistry
@inject IWorkspaceDescriptorFactory WorkspaceDescriptorFactory
@inject IReferenceResolver RelationResolver
@inject IServiceProvider ServiceProvider
@inject IDialogService DialogService
@inject IReferenceNavigationKeyRegistry ReferenceNavigationKeyRegistry

<MudField Typo="Typo.body2"
          Variant="@Variant"
          Margin="Margin.Dense"
          @onclick="OpenSelector"
          AdornmentIcon="@Icons.Material.Outlined.Search"
          Adornment="Adornment.End"
          Class="lookup-field"
          InnerPadding="false">
    <div style="margin-bottom:4px;">
        <MudStack Row="true">
            @if (DomainObjectReferenceList != null)
            {
                foreach (var reference in DomainObjectReferenceList.Items)
                {
                    var navigationKey = ReferenceNavigationKeyRegistry.TryGetNavigationKey(DomainObjectReferenceList.RelationKey ?? "");
                    
                    <MudStack Row="true" Spacing="0" AlignItems="AlignItems.Center">
                        @if (!String.IsNullOrEmpty(navigationKey))
                        {
                            <NavigationLink NavigationApplicationActionKey="@navigationKey"
                                            DomainObjectId="@reference.DomainObjectId"
                                            Text="@reference.DisplayValue" />
                        }
                        else
                        {
                            <MudText Typo="Typo.body2">@reference.DisplayValue</MudText>
                        }
                        <MudIconButton Icon="@Icons.Material.Outlined.Close" Size="Size.Small"
                                       OnClick="() => RemoveReference(reference)" 
                                       Style="color: var(--mud-palette-primary-darken); width:20px; height:20px" />
                    </MudStack>                 
                }
            }

            <MudSpacer />

            <MudIconButton Icon="@Icons.Material.Filled.Add"
                           Color="Color.Primary"
                           Size="Size.Small"
                           OnClick="OpenSelector" />
        </MudStack>
    </div>


</MudField>


@code {
    [Parameter] public Variant Variant { get; set; } = Variant.Outlined;

    [Parameter]
    public DomainObjectReferenceList? DomainObjectReferenceList
    {
        get => _domainObjectReferenceList;
        set
        {
            if (ReferenceEquals(_domainObjectReferenceList, value))
                return;

            _domainObjectReferenceList = value;
            HandleDomainObjectReferenceListChanged();
        }
    }
    [Parameter] public string Label { get; set; } = default!;
    [Parameter] public EventCallback<DomainObjectReferenceList?> OnDomainObjectReferenceListChanged { get; set; }

    private DomainObjectReferenceList? _domainObjectReferenceList;
    private string? _value;

    private IDomainObjectSelectorDescriptor? _domainObjectSelectorDescriptor { get; set; }

    private async void OpenSelector()
    {
        if (_domainObjectSelectorDescriptor == null)
            return;

        var parameters = new DialogParameters
        {
            { nameof(SelectorDialog.Descriptor), _domainObjectSelectorDescriptor }
        };

        var options = new DialogOptions
        {
            BackdropClick = true,
            NoHeader = true,
            MaxWidth = MaxWidth.Large,
            FullWidth = true
        };

        var dialog = await DialogService.ShowAsync<SelectorDialog>(string.Empty, parameters, options);
        var result = await dialog.Result;

        if (result != null && !result.Canceled)
        {
            var selectedId = (int)result.Data;
            await OnItemSelected(selectedId);
        }
    }

    private void HandleDomainObjectReferenceListChanged()
    {
        if (DomainObjectReferenceList == null)
            return;

        var selectorWorkspaceKey = RelationSelectorRegistry.Resolve(DomainObjectReferenceList.RelationKey);
        _domainObjectSelectorDescriptor = (IDomainObjectSelectorDescriptor)WorkspaceDescriptorFactory.GetWorkspaceDescriptor(selectorWorkspaceKey);

        var selectorType = _domainObjectSelectorDescriptor.ComponentType;
    }

    private async Task OnItemSelected(int domainObjectId)
    {
        if (DomainObjectReferenceList == null || DomainObjectReferenceList.Items.Any(i => i.DomainObjectId == domainObjectId))
            return;

        DomainObjectReferenceList.AddItem(domainObjectId);

        await OnDomainObjectReferenceListChanged.InvokeAsync(DomainObjectReferenceList);

        if (RelationResolver.TryGetReferenceListRelationEntry(DomainObjectReferenceList.RelationKey, out var relationListEntry))
        {
            var gatewayType = typeof(IDomainObjectServiceGateway<>).MakeGenericType(relationListEntry.SourceDomainObjectType);
            dynamic domainObjectServiceGateway = ServiceProvider.GetRequiredService(gatewayType);
            var domainObjectReferenceListItem = await domainObjectServiceGateway.GetHydratedDomainObjectReferenceListItem(domainObjectId, DomainObjectReferenceList.RelationKey);

            var item = DomainObjectReferenceList.Items.First(i => i.DomainObjectId == domainObjectId);
            item.DisplayValue = domainObjectReferenceListItem.DisplayValue;
        }

        StateHasChanged();
    }

    private async void RemoveReference(DomainObjectReferenceListItem item)
    {
        DomainObjectReferenceList?.Items.Remove(item);

        await OnDomainObjectReferenceListChanged.InvokeAsync(DomainObjectReferenceList);

        StateHasChanged();
    }
}
