@using Application.Descriptors
@using BusinessAppFramework.Application.Interfaces
@using Application.Trees
@using BusinessAppFramework.Application.Services
@using BusinessAppFramework.WebUI.Components.Browser
@using BusinessAppFramework.WebUI.Components.Editor
@using BusinessAppFramework.WebUI.Components.Header
@using Contracts
@using Domain.DomainObjects
@using MudBlazor
@using WebUI.Interfaces

@inject IDomainObjectServiceGateway<TDomainObject> DomainObjectServiceGateway
@inject ILocalizedStringService LocalizedStringService
@inject IWorkspaceDescriptorFactory DescriptorFactory
@inject ITreeGateway TreeGateway
@inject IUserDialogService UserDialogService

@typeparam TDomainObject where TDomainObject : DomainObject, new()

<style>
    .osc-page {
        display: flex;
        flex-direction: column;
        height: 100%;
        overflow: hidden;
    }

        .osc-page .mud-expand-panel {
            box-shadow: none !important;
            border: none !important;
        }

    .osc-page-content {
        flex: 1 1 auto;
        overflow-y: auto;
    }
</style>

<div class="osc-page">

    @if (_isDeleted)
    {
        <MudStack Style="height:100%;"
                  AlignItems="AlignItems.Center"
                  Justify="Justify.Center">

            <MudPaper Class="px-4 py-2"
                      Elevation="6"
                      Style="border-radius:12px;">
                <MudStack Row="true" Spacing="2" AlignItems="AlignItems.Center">
                    <MudIcon Icon="@Icons.Material.Filled.Done"
                             Size="Size.Medium"
                             Color="Color.Primary" />

                    <MudText Typo="Typo.subtitle1">
                        @LocalizedStringService.Get(StringKeys.DeletedKey)
                    </MudText>
                </MudStack>

            </MudPaper>

        </MudStack>
    }
    else
    {
        <DomainObjectPageLayout>

            <Header>
                <MudText Typo="Typo.h5" Style="font-weight:500;">
                    @(LocalizedStringService.Get(Descriptor.WorkspaceKey.Key) + " " + DomainObject?.ToString())
                </MudText>
            </Header>

            <Content>
                <CascadingValue Value="this">
                    <CascadingValue Value="DomainObject">
                        <div class="osc-page-content">
                            <DynamicComponent Type="@Descriptor.ContentComponentType" />
                        </div>
                    </CascadingValue>
                </CascadingValue>
            </Content>

        </DomainObjectPageLayout>

        <MudPopover Open="@IsDirty"
                    AnchorOrigin="Origin.TopRight"
                    TransformOrigin="Origin.TopRight"
                    OverflowBehavior="OverflowBehavior.FlipNever"
                    Style="margin-left:-8px !important; margin-top:8px;" Elevation="2">
            <MudButtonGroup Variant="Variant.Filled" Style="background:var(--mud-palette-error)">
                <MudTooltip Text="@LocalizedStringService.Get(StringKeys.SaveKey)">
                    <MudIconButton Icon="@Icons.Material.Filled.Save"
                                   OnClick="SaveAsync"
                                   Style="color:white"
                                   Size="Size.Large" />
                </MudTooltip>


                <MudTooltip Text="@LocalizedStringService.Get(StringKeys.UndoKey)">
                    <MudIconButton Icon="@Icons.Material.Filled.Undo"
                                   OnClick="UndoAsync"
                                   Style="color:white"
                                   Size="Size.Large" />
                </MudTooltip>
            </MudButtonGroup>
        </MudPopover>
    }


</div>


@code {
    [Parameter] public DomainObjectPageDescriptor<TDomainObject> Descriptor { get; set; } = default!;
    [Parameter] public List<IApplicationAction> ApplicationActions { get; set; } = new();
    [Parameter, SupplyParameterFromQuery]
    public int? Id
    {
        get => _id;
        set
        {
            if (value != _id)
            {
                _id = value;
                _ = OnIdSetAsync();
            }
        }
    }
    public TDomainObject? DomainObject { get; private set; }
    public bool IsDirty { get; set; }

    public event Func<Task>? ChangesSaved;
    public event Func<Task>? ChangesCancelled;
    public event Func<Task>? DomainObjectSet;
    public event Func<Task>? PageTreeLoaded;

    protected Tree? _tree;

    private int? _id;
    private Snackbar? _dirtySnackbar;
    private int? _loadedId;
    private List<IEditable> _editableComponents { get; set; } = new();
    private bool _isDeleted;

    public void RegisterEditableComponent(IEditable? editableComponent)
    {
        if (editableComponent == null || _editableComponents.Contains(editableComponent))
            return;

        _editableComponents.Add(editableComponent);
    }

    public async Task LoadPageTreeAsync(string pageTreeKey)
    {
        if (Id.HasValue)
        {
            var domainObjectId = Id.Value;

            if (_loadedId == domainObjectId)
                return;

            _loadedId = domainObjectId;

            _tree = await TreeGateway.GetTreeAsync(domainObjectId, pageTreeKey);

            await RaiseAsync(PageTreeLoaded);
        }
    }

    public Branch? GetTreeBranch(string relationKey)
    {
        return _tree?.GetBranch(relationKey);
    }

    public async Task UpdateTreeBranchAsync(string pageTreeKey, string relationKey)
    {
        if (Id.HasValue)
        {
            var branch = await TreeGateway.GetTreeBranchAsync(Id.Value, pageTreeKey, relationKey);

            if (branch == null)
                return;

            _tree?.SetBranch(branch);
        }
    }

    public void MarkDirty()
    {
        if (!IsDirty)
        {
            SetDirtyState(true);
        }
    }

    public async Task DeleteAsync()
    {
        if (Id == null)
            return;

        if (await UserDialogService.ConfirmAsync(LocalizedStringService.Get(MessageKeys.DeleteConfirmationMessage) ?? "delete_msg"))
        {
            await DomainObjectServiceGateway.DeleteAsync(Id.Value);
            _isDeleted = true;
            StateHasChanged();
        }
    }

    public void RaiseStateHasChanged()
    {
        StateHasChanged();
    }

    private async Task OnIdSetAsync()
    {
        if (Id.HasValue)
        {
            DomainObject = await DomainObjectServiceGateway.GetHydratedAsync(Id.Value);
            StateHasChanged();

            await RaiseAsync(DomainObjectSet);
        }
    }

    private async Task SaveAsync()
    {
        if (DomainObject != null)
        {
            await DomainObjectServiceGateway.SaveAsync(DomainObject);

            foreach (var editableComponent in _editableComponents)
            {
                await editableComponent.SaveChangesAsync();
            }

            SetDirtyState(false);

            await RaiseAsync(ChangesSaved);
        }
    }

    private async Task UndoAsync()
    {
        if (DomainObject != null)
        {
            DomainObject = await DomainObjectServiceGateway.GetHydratedAsync(DomainObject.Id);

            foreach (var editableComponent in _editableComponents)
            {
                await editableComponent.CancelChangesAsync();
            }

            SetDirtyState(false);

            await RaiseAsync(ChangesCancelled);
            await RaiseAsync(DomainObjectSet);
        }
    }

    private void SetDirtyState(bool isDirty)
    {
        IsDirty = isDirty;
        StateHasChanged();
    }

    private async Task RaiseAsync(Func<Task>? @event)
    {
        if (@event is null) return;

        foreach (var handler in @event.GetInvocationList().Cast<Func<Task>>())
            await handler();
    }
}
